/* raleeay-regular - latin_ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/raleway-v28-latin-ext_latin-regular.eot');
    src: local(''), 
    url('../assets/fonts/raleway-v28-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), 
    url('../assets/fonts/raleway-v28-latin-ext_latin-regular.woff2') format('woff2'),
    url('../assets/fonts/raleway-v28-latin-ext_latin-regular.woff') format('woff'),
    url('../assets/fonts/raleway-v28-latin-ext_latin-regular.ttf') format('truetype'),
    url('../assets/fonts/raleway-v28-latin-ext_latin-regular.svg#Raleway') format('svg');
}

/* raleway-900 - latin_ext */
@font-face {
    font-family: 'Raleway-900';
    font-style: normal;
    font-weight: 900;
    src: url('../assets/fonts/raleway-v28-latin-ext_latin-900.eot');
    src: local(''),
         url('../assets/fonts/raleway-v28-latin-ext_latin-900.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/raleway-v28-latin-ext_latin-900.woff2') format('woff2'),
         url('../assets/fonts/raleway-v28-latin-ext_latin-900.woff') format('woff'),
         url('../assets/fonts/raleway-v28-latin-ext_latin-900.ttf') format('truetype'),
         url('../assets/fonts/raleway-v28-latin-ext_latin-900.svg') format('svg');
}

:root {
    --header-color-hover: #E1E5E7;
    --header-color: #FF9812;
    --text-color: #000000;
}

body {
    height: 97vh;
    width: 99vw;
    background: no-repeat center/cover;
}

main {
    display: flex;
    height: 70vh;
    width: 99vw;
    justify-content: center;
    align-items: center;
}

.frozen {
    height: 60vh;
    width: 40vw;
    background-color: rgba(255, 255, 255, .50);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    overflow: auto;
}
